.slider{
	background: #222227;
	padding: 30px 0 100px;
}

.item{
	width: 290px;
	margin: 0 auto;
}


.owl-controls{
	position: absolute;
	bottom: -20px;
	left: 50%;
	width: 180px;
	transform: translate(-50%, 0);
}


.owl-prev{
	position: absolute;
	left: 0;
	text-indent: -99999px;
	background: url("../images/arrow.jpg");
	width: 55px;
	height: 55px;
}

.owl-next{
	position: absolute;
	right: 0;
	text-indent: -99999px;
	background: url("../images/arrow2.jpg") 100%;
	width: 55px;
	height: 55px;
}


@media screen and (min-width: 640px){
	.item{
		margin: 5px auto;
	}


@media screen and (min-width: 1171px){
    .item{
    	width: 100%;
    }
}