.logos{
	background: #f8f9fa;
	padding: 20px;
}

.logos .item{
	display: table;
	margin: 0 auto;
}

.logos .item a{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	transition: all 2.0s ease
}


.logos .item a:hover{
	    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
}